html,body{
	width : 100%;
	height: 100%;
}
*{
	padding: 0;
	margin : 0; 
}
.bazaar-left{
	float: left;
	margin-top: 5rem;
	/*border: 1px red solid;*/
}
.bazaar-left h3{
	/*text-align: center;*/
	border-bottom: 1px #E6E6E6 solid;
	padding-bottom: 1rem;
	position: relative;
}
.bazaar-right{
	/*border: 1px red solid;*/
	position: relative;
	margin-top: 5rem;
	float: left;
	width: 69%;
	margin-left: 7rem;
}
/*tab切换*/
.tab {
  width: 400px;
  margin: 1rem 0 0 0;
}
.tab-title {
  height: 30px;
  font-size: 0;
}
.tab-title .item {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #333;
  font-size: 16px;
}
.tab-title .item-cur {
	border-bottom: 3px #0081FF solid;
}
.tab-cont {
  position: relative;
  width: 215%;
  height: 56rem;
  overflow: hidden;
}
.tab-cont__wrap {
  position: absolute;
}
.tiem_li{
	float: left;
  	/*border: 1px red solid;*/
  	margin-top: 2.25rem;
  	margin-right: 2rem;
}
.tiem_li button{
	display: block;
	margin-bottom: 3.16rem;
	border-radius: 6px;
	background-color: white;
	width: 75px;
	height: 30px;
	margin: .9rem auto 0;
	border: 1px #CCCCCC solid;
}
.tab-cont .item {
  width: 100%;
  height: 56rem;
  /*border: 1px red solid;*/
  /*line-height: 200px;*/
}
.item img{
	width: 8.33rem;
	height: 8.33rem;
	border-radius: 1.3rem;
	margin-bottom: 1rem;
}
.item p{
	text-align: center;
}
/*以上css可不用，仅作为展示外观样式*/
.list{
	width : 200px;
}
.list ul{
	list-style: none;
}
.list>ul>li{
	width        : 100%;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
			transition: .3s ease;
}
.list>ul>li p[class=title]{
	cursor: pointer;
	width      : 100%;
	/*text-align : center;*/
	height     : 50px;
	line-height: 50px;
	padding    : 0;
	border     : none;
	position   : relative;
	font-size  : 20px;
}
.list>ul>li p[class=title]>span{
	position: absolute;
	right: 10%;
}
.list-se{
	overflow: hidden;
	display: none;
}
.list-se>li{
	position: relative;
	right   : -100%;
	-webkit-transition: right .5s;
	-moz-transition   : right .5s;
	-o-transition     : right .5s;
	transition        : right .5s;
}
.list-se>li>p{
	/*text-align: center;*/
	cursor: pointer;
	height      : 50px;
	-webkit-box-sizing :border-box;
	box-sizing :border-box;
	padding-left: 10px;
	line-height : 50px;
	/*border-left : 5px solid #3b3b3b;*/ 
	-webkit-transition   : border .5s; 
	transition  : border .5s;
	-webkit-transition   : background .3s;
	transition  : background .3s;
}
.act2{
	color: #0081FF;
}
.list-se>li>p:hover{
	/*border-color: #EE4977;*/ 
	/*background  : #5b5b5b;*/
	/*color: #0081FF;*/
}
.page{
	margin-left: 11rem;
	/*border: 1px red solid;*/
}
.pagination>li{
	display: inline-block!important;
	margin-left: 1rem;
}
.tiem_li p:first-of-type{
	/*border: 1px red solid;*/
	width: 9rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.act2{
	color: #0081FF;
}

