* {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

#bottom {
  height: 1.56rem;
  background: #eeeeee; }

.li_bg {
  background: #3a92f4;
  color: #ffffff; }

.top_c {
  height: 0.32rem;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0rem 0.01rem 0.03rem #d2d2d2; }
  .top_c .a {
    margin-top: 0.07rem;
    float: left;
    width: 0.79rem;
    height: 0.2rem;
    margin-left: 0.94rem; }
  .top_c ul {
    margin-left: 0.11rem;
    float: left;
    width: 2rem;
    height: 0.32rem; }
    .top_c ul li {
      float: left;
      width: 0.5rem;
      height: 0.32rem;
      line-height: 0.32rem;
      text-align: center;
      font-size: 0.08rem;
      cursor: pointer; }
      .top_c ul li a {
        display: block;
        width: 0.5rem;
        height: 0.32rem; }
  .top_c .top_ibox {
    width: 1.8rem;
    height: 0.2rem;
    margin-left: 0.94rem;
    margin-top: 0.07rem;
    float: left;
    display: flex;
    flex-direction: row;
    position: relative; }
    .top_c .top_ibox .top_down {
      width: 0.2rem;
      height: 0.2rem;
      margin-top: 0.02rem; }
    .top_c .top_ibox .top_fa {
      width: 0.1rem;
      height: 0.1rem;
      position: absolute;
      right: 0.1rem;
      top: 0.05rem; }
    .top_c .top_ibox .top_input {
      width: 1.46rem;
      height: 0.2rem;
      margin-left: 0.04rem;
      border: 1px solid #d6d6d8;
      padding-left: 0.1rem;
      color: #999999;
      outline: none;
      font-size: 0.08rem; }

.big_box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  opacity: 0.5;
  display: none; }

.new {
  position: absolute;
  top: 0.54rem;
  left: 0.94rem;
  width: 4.12rem;
  display: none;
  background: #ffffff; }
  .new img {
    width: 4.12rem;
    height: 1.77rem; }
  .new .new_title {
    float: left;
    width: 4.12rem;
    text-align: center;
    font-size: 0.16rem;
    color: #333333;
    margin-top: 0.15rem; }
  .new .new_detail {
    width: 4.12rem;
    height: 0.09rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.11rem;
    float: left; }
    .new .new_detail div {
      font-size: 0.08rem;
      height: 0.09rem;
      line-height: 0.09rem; }
  .new .new_contain {
    float: left;
    width: 4.12rem;
    height: 2rem;
    border: 1px solid;
    margin-top: 0.16rem; }
  .new .new_next {
    width: 4.12rem;
    height: 0.12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.04rem;
    float: left; }
    .new .new_next .new_qian {
      height: 0.12rem;
      font-size: 0.1rem;
      line-height: 0.12rem;
      color: #aeaeae;
      margin-left: 0.1rem; }
    .new .new_next .new_hou {
      height: 0.12rem;
      font-size: 0.1rem;
      line-height: 0.12rem;
      color: #aeaeae;
      margin-right: 0.1rem; }

.hot_box {
  height: 0.3rem;
  overflow: hidden; }
  .hot_box .s_1 {
    float: left;
    width: 0.8rem;
    height: 0.1rem;
    margin-top: 0.05rem;
    margin-left: 0.94rem;
    font-size: 0.08rem;
    color: #343434; }

.hot_contain {
  height: 4.97rem; }
  .hot_contain .hot_c_l {
    width: 4.12rem;
    height: 4.97rem;
    float: left;
    margin-left: 0.95rem; }
    .hot_contain .hot_c_l .l_t {
      height: 0.27rem;
      color: #343434;
      font-size: 0.16rem; }
    .hot_contain .hot_c_l .l_box {
      width: 4.12rem;
      height: 4.7rem; }
      .hot_contain .hot_c_l .l_box ul {
        width: 4.12rem;
        height: 4.7rem; }
        .hot_contain .hot_c_l .l_box ul .l_box_a {
          display: block;
          width: 0.98rem;
          height: 1.5rem;
          float: left;
          margin-left: 0.03rem; }
          .hot_contain .hot_c_l .l_box ul .l_box_a li {
            width: 0.98rem;
            height: 1.5rem; }
            .hot_contain .hot_c_l .l_box ul .l_box_a li img {
              width: 0.98rem;
              height: 0.98rem;
              float: left; }
            .hot_contain .hot_c_l .l_box ul .l_box_a li .li_txt {
              float: left;
              width: 0.98rem;
              height: 0.2rem;
              background: #929292; }
              .hot_contain .hot_c_l .l_box ul .l_box_a li .li_txt .txt_l1 {
                float: left;
                display: block;
                color: #f9f9f9;
                height: 0.2rem;
                line-height: 0.2rem;
                font-size: 0.08rem;
                margin-left: 0.05rem; }
              .hot_contain .hot_c_l .l_box ul .l_box_a li .li_txt .txt_l2 {
                float: right;
                margin-right: 0.05rem;
                display: block;
                height: 0.2rem;
                line-height: 0.2rem;
                color: #f9f9f9;
                font-size: 0.05rem; }
            .hot_contain .hot_c_l .l_box ul .l_box_a li .li_biao {
              padding-top: 1.2rem;
              padding-left: 0.06rem;
              font-size: 0.1rem;
              color: #343434; }
  .hot_contain .hot_c_r {
    float: left;
    margin-left: 0.15rem;
    width: 1.38rem;
    height: 4.97rem; }
    .hot_contain .hot_c_r .r_t {
      height: 0.16rem;
      width: 1.38rem;
      font-size: 0.16rem;
      color: #2f2f2f;
      line-height: 0.16rem; }
      .hot_contain .hot_c_r .r_t .t_s {
        display: block;
        height: 0.16rem;
        line-height: 0.16rem;
        float: right;
        font-size: 0.09rem;
        color: #808080; }
    .hot_contain .hot_c_r ul {
      height: 1.95rem;
      width: 1.38rem;
      border: 1px solid #e2e2e2;
      margin-top: 0.12rem; }
      .hot_contain .hot_c_r ul .hot_a {
        display: block;
        height: 0.25rem;
        width: 1.38rem;
        margin-top: 0.07rem;
        color: black; }
        .hot_contain .hot_c_r ul .hot_a li {
          height: 0.25rem;
          width: 1.38rem; }
          .hot_contain .hot_c_r ul .hot_a li img {
            float: left;
            width: 0.25rem;
            height: 0.25rem; }
          .hot_contain .hot_c_r ul .hot_a li .box_s1 {
            margin-left: 0.1rem;
            float: left;
            height: 0.25rem;
            line-height: 0.25rem;
            font-size: 0.07rem;
            width: 0.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .hot_contain .hot_c_r ul .hot_a li .box_s2 {
            width: 0.5rem;
            float: left;
            height: 0.25rem;
            line-height: 0.25rem;
            font-size: 0.06rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }

.jian {
  height: 0.67rem; }
  .jian .u_1 {
    float: left;
    height: 0.16rem;
    margin-left: 3.9rem; }
    .jian .u_1 li {
      margin-top: 0.14rem;
      font-size: 0.08rem;
      float: left;
      width: 0.16rem;
      height: 0.16rem;
      text-align: center;
      line-height: 0.16rem;
      color: #71abf6; }
  .jian .a_next {
    margin-top: 0.18rem;
    margin-left: 0.1rem;
    width: 0.3rem;
    height: 0.08rem;
    line-height: 0.08rem;
    font-size: 0.08rem;
    color: #71abf6;
    float: left;
    position: relative; }
    .jian .a_next img {
      width: 0.03rem;
      height: 0.06rem;
      position: absolute;
      top: 0.01rem;
      right: 0; }

/*# sourceMappingURL=hot.css.map */
